annotated-types
asttokens
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
debugpy
decorator
executing
Flask
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
gunicorn
httplib2
idna
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
nest-asyncio
nltk
packaging
parso
platformdirs
prompt_toolkit
proto-plus
protobuf
psutil
pure_eval
pyasn1
pyasn1_modules
pydantic
pydantic_core
Pygments
pyparsing
python-dateutil
pyzmq
redis
regex
requests
rsa
six
spotipy
stack-data
tornado
tqdm
traitlets
typing_extensions
uritemplate
urllib3
wcwidth
Werkzeug
